.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 180px;
  width: 100%
}

.restaurant-item .caption {
  padding: 10px;
}

.nav-pills-center {
  text-align: center;
}

.nav-pills-center > li {
  float: none;
  display: inline-block;
}

.my-restaurant {
  display: inline-block;
  text-align: center;
  padding: 7px 7px 0 7px;
//  height: 150px;
//  padding: 0 15px;
}

.my-restaurant > div {
  height: 60px;
}

.my-restaurant img{
  max-height: 100%;
}

.my-feeds {
  padding: 0px;
  margin: 10px;
}

.my-feeds h4 {
  display: inline-block;
}

.my-ranking-item {
  padding: 0px;
  margin: 10px;
}

.my-ranking-item h4 {
  display: inline-block;
}

.my-user {
  margin: 10px;
}

.my-user-item {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.my-followships {
  margin-left: 10px;
  margin-top: 10px;
}

.my-followships img{
  height: 40px;
  display: inline-block;
}
